@import url('dat://4505deef3a8f1d4258e8fd1be49c68ba3efc475308ce484a7f8164d4dcf3dba1/fonts/Merriweather/style.css');
@import url('dat://4505deef3a8f1d4258e8fd1be49c68ba3efc475308ce484a7f8164d4dcf3dba1/fonts/Open+Sans/style.css');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.articles article .body {
    font-family: 'Open Sans', serif;
    line-height: 2;
}
.articles article .body a {
    text-decoration: underline;
}
blockquote {
    padding-left: 40px;
    border-left: 2px solid #ccc;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}
